USE [master]
GO
/****** Object:  Database [SolicitudesDB]    Script Date: 12/06/2025 20:08:04 ******/
CREATE DATABASE [SolicitudesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SolicitudesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SolicitudesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SolicitudesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SolicitudesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SolicitudesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SolicitudesDB]
GO
/****** Object:  User [Kquito]    Script Date: 12/06/2025 20:08:04 ******/
CREATE USER [Kquito] FOR LOGIN [Kquito] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Kquito]
GO
/****** Object:  Table [dbo].[Catalogos]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Descripcion] [varchar](60) NOT NULL,
	[Padre_Id] [int] NULL,
	[Tipo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_auditoria]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_auditoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_registro] [datetime2](7) NOT NULL,
	[Estado_anterior_Id] [int] NULL,
	[Estado_actual_Id] [int] NULL,
	[Accion] [varchar](25) NOT NULL,
	[Usuario_Id] [int] NOT NULL,
	[Solicitud_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Monto] [decimal](12, 2) NOT NULL,
	[Plazo_meses] [int] NOT NULL,
	[Ingresos_mensual] [decimal](12, 2) NOT NULL,
	[Antiguedad_laboral] [int] NOT NULL,
	[Estado_Id] [int] NOT NULL,
	[Fecha_registro] [datetime2](7) NOT NULL,
	[Usuario_Id] [int] NOT NULL,
	[Codigo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Roles]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Roles](
	[Usuario_Id] [int] NOT NULL,
	[Rol_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario_Id] ASC,
	[Rol_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Correo] [varchar](200) NOT NULL,
	[Contrasenia] [nvarchar](max) NOT NULL,
	[Apellidos] [varchar](100) NULL,
	[Domicilio] [varchar](200) NULL,
	[Telefono] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Catalogos]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Padre] FOREIGN KEY([Padre_Id])
REFERENCES [dbo].[Catalogos] ([Id])
GO
ALTER TABLE [dbo].[Catalogos] CHECK CONSTRAINT [FK_Catalogo_Padre]
GO
ALTER TABLE [dbo].[Log_auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Log_Estado_Actual] FOREIGN KEY([Estado_actual_Id])
REFERENCES [dbo].[Catalogos] ([Id])
GO
ALTER TABLE [dbo].[Log_auditoria] CHECK CONSTRAINT [FK_Log_Estado_Actual]
GO
ALTER TABLE [dbo].[Log_auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Log_Estado_Anterior] FOREIGN KEY([Estado_anterior_Id])
REFERENCES [dbo].[Catalogos] ([Id])
GO
ALTER TABLE [dbo].[Log_auditoria] CHECK CONSTRAINT [FK_Log_Estado_Anterior]
GO
ALTER TABLE [dbo].[Log_auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Log_Solicitud] FOREIGN KEY([Solicitud_Id])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[Log_auditoria] CHECK CONSTRAINT [FK_Log_Solicitud]
GO
ALTER TABLE [dbo].[Log_auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Log_Usuario] FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Log_auditoria] CHECK CONSTRAINT [FK_Log_Usuario]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Estado] FOREIGN KEY([Estado_Id])
REFERENCES [dbo].[Catalogos] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Solicitudes_Estado]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Usuario] FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Solicitudes_Usuario]
GO
ALTER TABLE [dbo].[Usuario_Roles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([Rol_Id])
REFERENCES [dbo].[Catalogos] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Roles] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[Usuario_Roles]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([Usuario_Id])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Roles] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarSolicitud]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Actualizar solicitud
CREATE PROCEDURE [dbo].[sp_ActualizarSolicitud]
    @SolicitudId INT,
    @Monto DECIMAL(12,2),
    @PlazoMeses INT,
    @IngresosMensual DECIMAL(12,2),
    @AntiguedadLaboral INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Solicitudes
    SET Monto = @Monto,
        Plazo_meses = @PlazoMeses,
        Ingresos_mensual = @IngresosMensual,
        Antiguedad_laboral = @AntiguedadLaboral
    WHERE Id = @SolicitudId;

    -- ✅ Retornar el ID actualizado (opcional pero útil para confirmación)
    SELECT @SolicitudId AS SolicitudId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstadoSolicitudYAuditar]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cambiar estado y registrar en log de auditoría
CREATE PROCEDURE [dbo].[sp_CambiarEstadoSolicitudYAuditar]
    @SolicitudId INT,
    @NuevoEstadoId INT,
    @UsuarioAccionId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoAnteriorId INT;

    -- Validar que el nuevo estado existe
    IF NOT EXISTS (
        SELECT 1 FROM Catalogos WHERE Id = @NuevoEstadoId
    )
    BEGIN
        RAISERROR('El nuevo estado no existe en el catálogo.', 16, 1);
        RETURN;
    END

    -- Obtener estado anterior
    SELECT @EstadoAnteriorId = Estado_Id FROM Solicitudes WHERE Id = @SolicitudId;

    IF @EstadoAnteriorId IS NULL
    BEGIN
        RAISERROR('La solicitud especificada no existe.', 16, 1);
        RETURN;
    END

    -- Actualizar solicitud
    UPDATE Solicitudes
    SET Estado_Id = @NuevoEstadoId
    WHERE Id = @SolicitudId;

    -- Insertar en log
    INSERT INTO Log_auditoria (
        Fecha_registro,
        Estado_anterior_Id,
        Estado_actual_Id,
        Accion,
        Usuario_Id,
        Solicitud_Id
    )
    VALUES (
        SYSDATETIME(),
        @EstadoAnteriorId,
        @NuevoEstadoId,
        'CAMBIO_ESTADO',
        @UsuarioAccionId,
        @SolicitudId
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitud]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearSolicitud]
    @Monto DECIMAL(12,2),
    @PlazoMeses INT,
    @IngresosMensual DECIMAL(12,2),
    @AntiguedadLaboral INT,
    @Usuario_Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NuevaSolicitudId INT;
    DECLARE @Contador INT;
    DECLARE @FechaActual CHAR(10) = FORMAT(GETDATE(), 'yyyy-MM-dd');
    DECLARE @Codigo VARCHAR(20);
    DECLARE @Estado_Id_Calculado INT;
    DECLARE @Id_EnRevision INT;
    DECLARE @Id_PreAprobado INT;

    -- Obtener IDs de los estados de catálogo
    SELECT @Id_EnRevision = Id FROM Catalogos WHERE Codigo = 'EN_REVISION' AND Tipo = 'ESTADO_SOLICITUD';
    SELECT @Id_PreAprobado = Id FROM Catalogos WHERE Codigo = 'PRE_APROBADO' AND Tipo = 'ESTADO_SOLICITUD';

    -- Lógica de negocio para determinar el Estado_Id
    -- Por defecto: EN_REVISION
    SET @Estado_Id_Calculado = @Id_EnRevision; 

    -- Si IngresosMensual >= 1500, asignar PRE_APROBADO
    IF @IngresosMensual >= 1500
    BEGIN
        SET @Estado_Id_Calculado = @Id_PreAprobado;
    END;

    -- Contador de solicitudes del usuario para el año actual
    SELECT @Contador = COUNT(*)
    FROM Solicitudes
    WHERE Usuario_Id = @Usuario_Id
      AND YEAR(Fecha_registro) = YEAR(GETDATE());

    SET @Contador = ISNULL(@Contador, 0) + 1;

    -- Generar el código con el formato requerido
    SET @Codigo = CONCAT(
        @FechaActual, '-', 
        FORMAT(@Usuario_Id, '00'), '-', 
        FORMAT(@Contador, '0000')
    );

    INSERT INTO Solicitudes (
        Monto,
        Plazo_meses,
        Ingresos_mensual,
        Antiguedad_laboral,
        Estado_Id,
        Fecha_registro,
        Usuario_Id,
        Codigo
    )
    VALUES (
        @Monto,
        @PlazoMeses,
        @IngresosMensual,
        @AntiguedadLaboral,
        @Estado_Id_Calculado,
        SYSDATETIME(),
        @Usuario_Id,
        @Codigo
    );

    SET @NuevaSolicitudId = SCOPE_IDENTITY();

    INSERT INTO Log_auditoria (
        Fecha_registro,
        Estado_anterior_Id,
        Estado_actual_Id,
        Accion,
        Usuario_Id,
        Solicitud_Id
    )
    VALUES (
        SYSDATETIME(),
        NULL,
        @Estado_Id_Calculado,
        'CREACION',
        @Usuario_Id,
        @NuevaSolicitudId
    );

    -- Retornar el ID generado y el código generado
    SELECT @NuevaSolicitudId AS SolicitudId, @Codigo AS CodigoGenerado;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarSolicitud]    Script Date: 12/06/2025 20:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Eliminar solicitud (cambiar estado a eliminado)
CREATE PROCEDURE [dbo].[sp_EliminarSolicitud]
    @SolicitudId INT,
    @EstadoEliminadoId INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Solicitudes
    SET Estado_Id = @EstadoEliminadoId
    WHERE Id = @SolicitudId;
END
GO
USE [master]
GO
