<div class="row mt-2">
    <h1 class="text-lg-center">Bienvenido al Sistema de Gestión de Credito</h1>
</div>
<div class="row">
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione su perfil</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary">Ingresar</button>
        <button type="button" class="btn btn-secondary">Registrarse</button>
</div>
<div class="row"></div>